.form_outlet {
  position: relative;
  padding: 1rem;
  /* margin: 1rem -15px 0; */
  border: solid #f8f9fa;
  border-width: 0.2rem 0 0;
}


.form-group {
  margin-bottom: 10px;
}

.btnCls {
  float: right;
}

p.errorMsg {
  margin-left: 255px;
  font-size: 12px;
}

a {
  text-decoration: none;
}


.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.errorMsgSpan {
  position: absolute;
  top: 14px;
  right: 17px;
}
