<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color: aliceblue;">My App</h1>
    <div class="d-flex">
      <button class="btn btn-success" type="button" (click)="btnClick()" title="Add User">
        <i class="bi bi-person-plus-fill"></i>
      </button>
    </div>
  </div>
</nav>
<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> Record has been deleted successfully.
  <button type="button" class="btn close" aria-label="Close" (click)="close()">
    <span aria-hidden="true" class="errorMsgSpan">&times;</span>
  </button>
</div>
<table class="table table-bordered table-sm table-striped table-hover">
  <thead style="background-color: skyblue;">
    <tr class="text-center">
      <th scope="col">ID</th>
      <th scope="col">Full Name</th>
      <th scope="col">Username</th>
      <th scope="col">Email Id</th>
      <th scope="col">Status</th>
      <th scope="col">Registered On</th>
      <th scope="col">Last Updated On</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let user of users">
      <td class="text-center">{{user.tblUserId}}.</td>
      <td>{{user.firstName| titlecase}} {{user.lastName| titlecase}}</td>
      <td>{{user.userName| titlecase}}</td>
      <td>{{user.emailId}}</td>
      <td class="text-center" *ngIf="user.status===true"><i class="bi bi-person-check-fill" style="color:green"
          title="User is active" (click)="changeStatus(user.tblUserId,user.status)"></i></td>
      <td class="text-center" *ngIf="user.status===false"><i class="bi bi-person-check" style="color:red"
          title="User is inactive" (click)="changeStatus(user.tblUserId,user.status)"></i>
      </td>
      <td class="text-center">{{user.createdOn | date: 'dd/MM/yyyy hh:mm a'}}</td>
      <td class="text-center">{{user.updatedOn | date: 'dd/MM/yyyy hh:mm a'}}</td>
      <td class="text-center">
        <button class="btn btn-info btn-sm" (click)="editUser(user.tblUserId)">
          <i class="bi bi-pencil-square" title="Edit User"></i>
        </button>
        <button class="btn btn-danger mx-1 btn-sm" (click)="deleteUser(user.tblUserId)">
          <i class="bi bi-trash3-fill" title="Delete User" (click)="deleteUser(user.tblUserId)"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
